.weather {
    width: 100vw;
    height: 100vh;
    background-color: #E8E8E8;
}

.weatherTopic {
    font-size: 30px;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 785px;
    margin-bottom: 30px;
}

.formWeather {
    margin-left: 720px;
}

.weatherTemp {
    font-size: 30px;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 740px;
    margin-bottom: 30px;
}

.weatherDesc {
    font-size: 30px;
    font-weight: 500;
    margin-left: 700px;
    margin-bottom: 30px;
}

.weatherIcon {
    font-size: 30px;
    font-weight: 500;
    margin-left: 800px;
    margin-bottom: 30px;
}