.navbar {
    background-color: #E8E8E8;
    width: 100%;
    position: fixed;
    left: 250px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
    z-index: 999;
}

.profilePicture {
    top: 0;
    margin-top: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    margin-left: 1010px;
}

.logoutSidebar {
    color: #383838;
    font-size: 18px;
    font-weight: 500;
    margin-left: 1080px;
    cursor: pointer;
}

.topicSidebar {
    margin-left: 80%;
    font-size: 30px;
    font-weight: 500;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #383838;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 0.4rem;
}

.nav-text a:hover {
    background-color: #FFDA77;
}

.nav-menu-items {
    width: 100%;
    padding-inline-start: 0;
    padding: 6px;
}

.navbar-toggle {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.iconMain {
    margin-left: 30px;
}

.brandMain {
    color: #383838;
    font-size: 40px;
    font-weight: 400;
    margin-left: 12px; 
}

.spanMain {
    margin-left: 35px;
}